* {
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 0;
}

input {
  background-color: black !important;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  line-height: 1.5;
  overflow-x: hidden !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
}

/* header */
header {
  z-index: 5;
}

.appraisal h4 {
  font-weight: bold;
}

.appraisal button {
  padding: 1px;
  cursor: pointer;
  border-right: 1px solid #8b8b8b;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.main-color {
  background-color: #d35649;
}

.second-back {
  background-color: #6c757d;
}

.third-back {
  background-color: #007bff;
}

.main-text {
  color: #d35649;
}

header a {
  color: white;
  font-size: 0.7rem;
}

.logo-img {
  font-size: 2em;
}

/* main section */
.main-intro {
  background-image:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/sysproject.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.main-content {
  background-color: rgba(225, 225, 225, 0.6);
}

.main-content input {
  background-color: white !important;
  outline: none;
  height: 3em;
}

.demo-icon {
  font-size: 4rem;
}

.app-img {
  height: 270px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-img img {
  height: 15em;
  width: 15em;
  border-radius: 50%;
}

.main-content button {
  font-weight: bold;
}

.main-content h2 {
  font-weight: bold;
}

.how-it-works {
  background-color: rgba(225, 225, 225, 0.6);
  font-size: small !important;
}

.work-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
}

/* login section */
.login-section input {
  background-color: rgb(204, 199, 199) !important;
}

/* search result */
.search-result article {
  min-height: 10em;
  margin: 1em;
  padding: 5em;
  text-align: center;
}

.rel-head {
  font-size: 1em !important;
  font-weight: bold;
  color: white;
  margin: auto;
}

.rel-head + p {
  color: white;
}

/* footer here */
footer {
  background-color: black;
}

footer a {
  font-size: 0.7rem;
  color: white;
}

footer .footer1 {
  position: relative;
}

footer .map {
  font-size: 2.5rem;
}

footer .maps {
  top: -8%;
  left: 50%;
}

.footer2 h3 {
  font-size: 19px;
}

.about-in {
  font-size: small;
}

/* media queries */
@media all and (max-width: 446px) {
  footer .maps {
    display: none;
  }

  footer ul li:nth-child(1),
  footer ul li:nth-child(3),
  footer ul li:nth-child(5),
  footer ul li:nth-child(7) {
    display: none;
  }

  footer ul li a {
    font-size: 4px !important;
  }

  .how-it-works {
    display: none;
  }

  .logo-img {
    font-size: 1em;
  }

  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }

  .footer2 h3 {
    font-size: 9px !important;
  }

  .footer2 button {
    width: 6em !important;
    font-size: 5px !important;
    height: 4em !important;
  }

  .footer2 input {
    height: 1em !important;
  }

  footer h3 p {
    font-size: small !important;
  }

  .footer2 p {
    font-size: 5px !important;
  }

  .footer2 a {
    font-size: 2px !important;
  }

  .app-content img {
    height: 5em;
    margin-top: 0;
  }

  .footer2 span {
    font-size: 2px !important;
  }

  .title {
    font-size: 1.8em;
    text-align: center;
  }

  .app-content h4 {
    font-size: 1em;
  }

  .main-inner h2 {
    font-size: 1.7em;
    margin: 10px auto;
  }

  .demo h2 {
    font-size: 2em;
  }
}

@media all and (max-width: 621px) {
  .main-inner {
    width: 80vw;
    margin: auto;
  }
}
